@font-face {
	font-family: 'Supreme';
	src: local('Supreme'), url('/fonts/Supreme.ttf');
	font-weight: 100 800;
}

@font-face {
	font-family: 'Supreme';
	src: local('Supreme'), url('/fonts/Supreme-Italic.ttf');
	font-weight: 100 800;
	font-style: italic;
}

@font-face {
	font-family: 'Recursive';
	src: local('Recursive'), url('/fonts/Recursive.ttf');
	font-weight: 300 1000;
}

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
	font-variation-settings: 'MONO' 1, 'CASL' 0.4;
	@apply font-semibold shadow-black/20 shadow-xl !important;
	@apply bg-base-300 !important;
	border: 2px dashed gray;
}
