@font-face {
	font-family: 'Supreme';
	src: local('Supreme'), url('/fonts/Supreme.ttf');
	font-weight: 100 800;
}

@font-face {
	font-family: 'Supreme';
	src: local('Supreme'), url('/fonts/Supreme-Italic.ttf');
	font-weight: 100 800;
	font-style: italic;
}

@font-face {
	font-family: 'Recursive';
	src: local('Recursive'), url('/fonts/Recursive.ttf');
	font-weight: 300 1000;
}

@font-face {
	font-family: 'Whirly Birdie';
	src: local('Whirly Birdie'),
		url('https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/WhirlyBirdieVariable.ttf');
	font-weight: 50 100;
}

@font-face {
	font-family: 'DSEG7ClassicMini';
	src: local('DSEG7ClassicMini'), url('/fonts/DSEG7ClassicMini-Bold.woff2');
	font-weight: bold;
}
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
	font-variation-settings: 'MONO' 1, 'wght' 550, 'CASL' 0.4, 'CRSV' 1;
	@apply shadow-black/20 shadow-xl !important;
	@apply bg-base-300 bg-opacity-50 !important;
	border: 2px dashed gray;
}

:root {
	background-image: radial-gradient(#ffffff10 1px, transparent 0);
	background-size: 40px 40px;
	background-position: 0px 0px;
}
